<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Users</title>
    <style>
        table {
            border-collapse: collapse;
            border: none;
        }

        td {
            border: 1px solid black;
            padding-left: 10px;
            padding-right: 10px;
        }

        th {
            border: 1px solid black;
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>
</head>
<body>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="logout"/>
</form>
<br>
<h2>All users</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th style="border: 0px;"></th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <div th:each="role : ${user.roles}" th:text="${role.role}"></div>
        </td>
        <td style="border: none; padding-right: 1px;">
            <form action="/admin/edit" method="GET">
                <input type="hidden" name="id" th:value="${user.id}">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <td style="border: none; padding-left: 1px;">
            <form th:method="POST" th:action="@{/admin/delete}">
                <input type="hidden" name="id" th:value="${user.id}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
<br>
<form action="admin/edit" method="GET">
    <input type="submit" value="Add new user"/>
</form>
</body>
</html>