<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">


<head>
    <title>Spring Security Example</title>
    <style>
        table {
            border-collapse: collapse;
            border: none;
        }

        td {
            border: 1px solid black;
            padding-left: 10px;
            padding-right: 10px;
        }

        th {
            border: 1px solid black;
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>
</head>
<body>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="logout"/>
</form>
<br>
<h1>User information-page</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <div th:each="role : ${user.roles}" th:text="${role.role}"></div>
        </td>
    </tr>
</table>


</body>
</html>